---
http_interactions:
- request:
    method: get
    uri: https://api.kinopoisk.dev/v1.4/person/awards
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-KEY:
      - "<X_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      x-ratelimit-limit:
      - '5'
      x-ratelimit-remaining:
      - '4'
      x-ratelimit-reset:
      - '1'
    body:
      encoding: UTF-8
      string: '{"docs":[{"nomination":{"award":{"title":"Премия Гильдии актеров","year":2025},"title":"Лучшая
        женская роль второго плана"},"winning":false,"personId":2402655,"movie":{"id":4673797,"name":"Урок
        фортепиано","rating":6.114},"createdAt":"2025-04-06T14:45:54.068Z","updatedAt":"2025-04-06T14:45:54.068Z","id":"67f293a28a14296227ec4589"},{"nomination":{"award":{"title":"Сатурн","year":2025},"title":"Лучший
        режиссер"},"winning":false,"personId":21459,"movie":{"id":623807,"name":"Битлджус
        Битлджус","rating":7.015},"createdAt":"2025-04-06T14:39:49.710Z","updatedAt":"2025-04-06T14:39:49.710Z","id":"67f292358a14296227ec2487"},{"nomination":{"award":{"title":"Оскар","year":1937},"title":"Лучшая
        работа художника"},"winning":false,"personId":2001460,"mov[...]
