---
http_interactions:
- request:
    method: get
    uri: https://api.kinopoisk.dev/v1.4/person/1514
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-KEY:
      - "<X_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      x-ratelimit-limit:
      - '5'
      x-ratelimit-remaining:
      - '4'
      x-ratelimit-reset:
      - '1'
    body:
      encoding: UTF-8
      string: '{"id":1514,"name":"Джейсон Стэйтем","enName":"Jason Statham","photo":"https://avatars.mds.yandex.net/get-kinopoisk-image/4774061/958b0a05-f3f0-4755-8ff7-995137af84fc/orig","sex":"Мужской","growth":178,"birthday":"1967-07-26T00:00:00.000Z","death":null,"age":57,"birthPlace":[{"value":"Ширбрук"},{"value":"Дербишир"},{"value":"Англия"},{"value":"Великобритания"}],"deathPlace":[],"spouses":[],"countAwards":null,"profession":[],"facts":[{"value":"Полное
        имя — Джейсон Майкл Стэйтем."},{"value":"Отец Джейсона — певец, а мать — танцовщица."},{"value":"В
        молодости профессионально занимался плаванием."},{"value":"У Джейсона двое
        детей от <a href=\"/name/1574168/\" class=\"all\">Роузи Хантингтон-Уайтли</a>."}],"movies":[{"id":1082327,"name":null,"alternativeName":"Untitled
        Hong Kong Action Thriller","rating":null,"general":false,"description":"Straw","enProfession":"actor"},{"id":5450039,"name":null,"alternativeName":"Small
        Dark Look","rating":null,"general":false,"description":"слухи","enProfession":"actor"},{"id":5582050,"name":null,"alternativeName":"Mutiny","rating":null,"general":false,"description":"Cole
        Reed","enProfession":"actor"},{"id":6548103,"name":null,"alternativeName":"Untitled
        Jason Statham thriller","rating":null,"general":false,"description":"Mason","enProfession":"actor"},{"id":7293756,"name":"Пчеловод
        2",[...]
