---
http_interactions:
- request:
    method: get
    uri: https://api.kinopoisk.dev/v1.4/studio
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-KEY:
      - "<X_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      x-ratelimit-limit:
      - '5'
      x-ratelimit-remaining:
      - '4'
      x-ratelimit-reset:
      - '1'
    body:
      encoding: UTF-8
      string: '{"docs":[{"id":"693379","subType":"studio","title":"ИП Силка Александр
        Владимирович","type":"Производство","movies":[{"id":7427094}],"createdAt":"2025-04-04T15:58:47.491Z","updatedAt":"2025-04-04T15:58:47.491Z"},{"id":"693284","subType":"studio","title":"Wake
        Me","type":"Производство","movies":[{"id":1438450}],"createdAt":"2025-04-04T15:58:42.603Z","updatedAt":"2025-04-04T15:58:42.603Z"},{"id":"693553","subType":"studio","title":"Vista
        Film Sales","type":"Производство","movies":[{"id":6688934}],"createdAt":"2025-04-04T15:56:51.607Z","updatedAt":"2025-04-04T15:56:51.607Z"},{"id":"693464","subType":"studio","title":"LyO
        Media","type":"Производство","movi[...]
