---
http_interactions:
- request:
    method: get
    uri: https://api.kinopoisk.dev/v1.4/person/search
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-KEY:
      - "<X_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      x-ratelimit-limit:
      - '5'
      x-ratelimit-remaining:
      - '4'
      x-ratelimit-reset:
      - '1'
    body:
      encoding: UTF-8
      string: '{"docs":[{"id":7178282,"name":"","enName":"Vera Vávrová","photo":"","sex":"Женский","growth":0,"birthday":"","death":"","age":0},{"id":7178280,"name":"","enName":"Zuzana
        Faková","photo":"","sex":"Женский","growth":0,"birthday":"","death":"","age":0},{"id":7178281,"name":"","enName":"Vojtech
        Knap","photo":"","sex":"Мужской","growth":0,"birthday":"","death":"","age":0},{"id":7178279,"name":"","enName":"Emil
        Fako","photo":"","sex":"Мужской","growth":0,"birthday":"","death":"","age":0},{"id":7178278,"name":"","enName":"Nikolas
        Cina","photo":"","sex":"Мужской","growth":0,"birthday":"","death":"","age":0},{"id":7178277,"name":"","enName":"Rafael
        Tokar","photo":"","sex":"Мужской","growth":0,"birthday":"","death":"","age":0},{"id":7178276,"name":"","enName":"Nicolas
        Rafel","photo":"","sex":"Мужской","growth":0,"birthday":"","death":"","age":0},{"id":7178275,"name":"","enName":"Jaroslav
        Baca","photo":"","sex":"Мужской","growth":0,"birthday":"","death":"","age":0},{"id":7178274,"name":"","enName":"Marek
        Grundza","photo":"","sex":"Мужской","growth":0,"birthday":"","death":"","age":0},{"id":7178273,"name":"","enName":"Jirí
        Jandejsek","photo":"","sex":"Мужской","growth":0,"birthday":"","death":"","age":0}],"total":1000,"limit":10,"page":1,"pages":100}'
  recorded_at: Sun, 06 Apr 2025 19:55:50 GMT
recorded_with: VCR 6.3.1
