---
http_interactions:
- request:
    method: get
    uri: https://api.kinopoisk.dev/v1.4/movie/476
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-KEY:
      - "<X_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      x-ratelimit-limit:
      - '5'
      x-ratelimit-remaining:
      - '4'
      x-ratelimit-reset:
      - '1'
    body:
      encoding: UTF-8
      string: '{"fees":{"world":{"value":381109762,"currency":"$"},"usa":{"value":210609762,"currency":"$"}},"status":null,"externalId":{"imdb":"tt0088763","tmdb":105,"kpHD":"468d3b0de3fd9aeba85fad1010196b86"},"rating":{"kp":8.647,"imdb":8.5,"filmCritics":8.9,"russianFilmCritics":0,"await":null},"votes":{"kp":679593,"imdb":1361351,"filmCritics":111,"russianFilmCritics":2,"await":0},"backdrop":{"url":"https://image.openmoviedb.com/kinopoisk-ott-images/223007/2a0000016128aa9721be7e9d22f4bb2be635/orig","previewUrl":"https://image.openmoviedb.com/kinopoisk-ott-images/223007/2a0000016128aa9721be7e9d22f4bb2be635/x1000"},"movieLength":116,"images":{"postersCount":74,"backdropsCount":23,"framesCount":71},"productionCompanies":[{"name":"Universal
        Pictures","url":"https://www.themoviedb.org/t/p/original/8lvHyhjr8oUKOOy2dKXoALWKdp0.png","previewUrl":"https://www.themoviedb.org/t/p/w500/8lvHyhjr8oUKOOy2dKXoALWKdp0.png"},{"name":"Amblin
        Entertainment","url":"https://www.themoviedb.org/t/p/original/cEaxANEisCqeEoRvODv2dO1I0iI.png","previewUrl":"https://www.themoviedb.org/t/p/w500/cEaxANEisCqeEoRvODv2dO1I0iI.png"}],"spokenLanguages":[{"name":"English","nameEn":"English"}],"id":476,"type":"movie","name":"Назад
        в будущее","description":"Подросток Марти с помощью машины времени, сооружённой
        его другом-профессором доком Брауном, попадает из 80-х в далекие 50-е. Там
        он встречается со своими будущими родителями, ещё подростками, и другом-профессором,
        совсем молодым.","distributors":{"distributor":"Другое кино, Иноекино","distributorRelease":"Premier
        Digital, Юниверсал Пикчерс Рус"},"premiere":{"world":"1985-07-03T00:00:00.000Z","russia":"2013-06-27T00:00:00.000Z","bluray":"2010-11-02T00:00:00.000Z","dvd":"2003-10-07T00:00:00.000Z","cinema":null,"digital":null},"slogan":"Семнадцатилетний
        Марти МакФлай пришел вчера домой пораньше. На 30 лет раньше","year":1985,"budget":{"value":19000000,"currency":"$"},"poster":{"url":"https://image.openmoviedb.com/kinopoisk-images/1599028/73cf2ed0-fd52-47a2-9e26-74104360786a/orig","previewUrl":"https://image.openmoviedb.com/kinopoisk-images/1599028/73cf2ed0-fd52-47a2-9e26-74104360786a/x1000"},"facts":[{"value":"<a
        href=\"/name/181/\" class=\"all\">Майкл Джей Фокс</a> изначально был главным
        кандидатом на получение роли Марти, однако в то время он активно снимался
        в одном из семейных сериалов и не мог себе позволить съемки в другом проекте.
        Первые три недели в роли Марти снимался актер <a href=\"/name/7350/\" class=\"all\">Эрик
        Столц</a>, но он не удовлетворял требованиям режиссера и поэтому вскоре был
        уволен. Студии пришлось переснимать весь материал с нуля.","type":"FACT","spoiler":false},{"value":"<a
        href=\"/name/181/\" class=\"all\">Майкл Джей Фокс</a> согласился принять участие
        в съемках, не отказавшись и от сериального «мыла». Продюсеры сериала «<a href=\"/film/276139/\"
        class=\"all\">Семейные узы</a>» (1982-1989) отпустили Майкла на съёмки «Назад
        в будущее» при условии, что работа в кинофильме не повредит его занятости
        в сериале. Поэтому Фокс снимался в «Узах» днем, а ночью играл в картине <a
        href=\"/name/2435/\" class=\[...]
