---
http_interactions:
- request:
    method: get
    uri: https://api.kinopoisk.dev/v1.4/movie/awards
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-KEY:
      - "<X_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      x-ratelimit-limit:
      - '5'
      x-ratelimit-remaining:
      - '4'
      x-ratelimit-reset:
      - '1'
    body:
      encoding: UTF-8
      string: '{"docs":[{"nomination":{"award":{"title":"Оскар","year":2024},"title":"Лучший
        грим и прически"},"winning":false,"movieId":4664634,"createdAt":"2024-03-31T02:48:53.006Z","updatedAt":"2024-03-31T02:48:53.006Z","id":"6608cf153bb63c827e2c35d6"},{"nomination":{"award":{"title":"Оскар","year":2024},"title":"Лучший
        монтаж"},"winning":true,"movieId":4664634,"createdAt":"2024-03-31T02:48:53.000Z","updatedAt":"2024-03-31T02:48:53.000Z","id":"6608cf153bb63c827e2c35d4"},{"nomination":{"award":{"title":"Оскар","year":2024},"title":"Лучший
        звук"},"winning":false,"movieId":4664634,"createdAt":"2024-03-31T02:48:52.997Z","updatedAt":"2024-03-31T02:48:52.997Z","id":"6608cf143bb63c827e2c35d2"},{"nomination"[...]
