---
http_interactions:
- request:
    method: get
    uri: https://api.kinopoisk.dev/v1.4/season
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-KEY:
      - "<X_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      x-ratelimit-limit:
      - '5'
      x-ratelimit-remaining:
      - '4'
      x-ratelimit-reset:
      - '1'
    body:
      encoding: UTF-8
      string: '{"docs":[{"movieId":5354436,"poster":{"url":"https://image.openmoviedb.com/tmdb-images/original/trDyXxIjKvrDGUI0rH7cdZm9FyG.jpg","previewUrl":"https://image.openmoviedb.com/tmdb-images/w500/trDyXxIjKvrDGUI0rH7cdZm9FyG.jpg"},"number":0,"name":"Спецматериалы","enName":"Specials","episodesCount":1,"airDate":"2016-10-05T00:00:00.000Z","episodes":[{"number":1,"name":"Эпизод
        1","enName":"Episode 1","airDate":"2016-10-05T00:00:00.000Z","description":"","enDescription":"","still":{"url":"https://image.openmoviedb.com/tmdb-images/original/r0ly3ir358zmSJ5oAqJoF51UznT.jpg","previewUrl":"https://image.openmoviedb.com/tmdb-images/w500/r0ly3ir358zmSJ5oAqJoF51UznT.jpg"}}],"source":"tmdb","updatedAt":"2025-04-05T01:10:53.510Z","createdAt":"2025-04-05T01:10:52.887Z","id":"67f0831dcef6cd7449d55270"},{"movieId":626612,"number":0,"name":"Спецматериалы","enName":"Specials","episodesCount":1,"airDate":"1989-12-29T00:00:00.000Z","episodes":[{"number":1,"name":"Эпизод
        1","enName":"Special: A Tale of Two Toads","airDate":"1989-12-29T00:00:00.000Z","description":"","enDescription":"The
        weasels kidnap Mr Toad and try to install doppelganger in Toad hall.","still":{"url":null,"previewUrl":null}}],"source":"tmdb","updatedAt":"2025-04-05T01:09:31.490Z","creat[...]
