---
http_interactions:
- request:
    method: get
    uri: https://api.kinopoisk.dev/v1.4/review
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-KEY:
      - "<X_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      x-ratelimit-limit:
      - '5'
      x-ratelimit-remaining:
      - '4'
      x-ratelimit-reset:
      - '1'
    body:
      encoding: UTF-8
      string: '{"docs":[{"id":3500640,"movieId":760469,"title":"Случайности не случайны","type":"Позитивный","review":"После
        просмотра сериала ''Новенькая'' безбожно влюбилась в Джейка Джонсона, и вот,
        собственно, here I am. Правда, персонаж у него тут совершенно другой. Впрочем,
        обо всём по порядку.\r\n\r\nСюжет. \r\n\r\nРайан и Джастин, друзья и соседи
        - типичные... ну, прямо скажем, лузеры. Один в принципе не знает, чем заняться
        по жизни, второй, вроде бы, карьеру нашёл, но не может себя правильно подать.
        И вот однажды, явившись на костюмированную вечеринку в к[...]
