---
http_interactions:
- request:
    method: get
    uri: https://api.kinopoisk.dev/v1.4/list
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-KEY:
      - "<X_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      x-ratelimit-limit:
      - '5'
      x-ratelimit-remaining:
      - '4'
      x-ratelimit-reset:
      - '1'
    body:
      encoding: UTF-8
      string: '{"docs":[{"slug":"yakutia_movies","category":"Направления","cover":{"url":"https://avatars.mds.yandex.net/get-bunker/994123/37f53bc45a1bff42bd9c46c008b1eec472677fbc/orig","previewUrl":"https://avatars.mds.yandex.net/get-bunker/994123/37f53bc45a1bff42bd9c46c008b1eec472677fbc/x1000"},"createdAt":"2025-04-01T10:15:46.707Z","moviesCount":20,"name":"Новое
        якутское кино","updatedAt":"2025-04-01T10:15:47.169Z","id":"67ebbcd25da2d4ce280a5d88"},{"slug":"berlin_school","category":"Направления","cover":{"url":"https://avatars.mds.yandex.net/get-bunker/998550/efa1918ce91dffa8439ba40a079ce46703333730/orig","previewUrl":"https://avatars.mds.yandex.net/get-bunker/998550/efa1918ce91dffa8439ba40a079ce46703333730/x1000"},"createdAt":"2025-04-01T10:15:46.707Z","moviesCount":49,"name":"Берлинская
        школа","updatedAt":"2025-04-01T10:15:47.169Z","id":"67ebbcd25da2d4ce280a5d87"},{"slug":"taiwanese_new_wave","categor[...]
