---
http_interactions:
- request:
    method: get
    uri: https://api.kinopoisk.dev/v1.4/list/top250
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-KEY:
      - "<X_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      x-ratelimit-limit:
      - '5'
      x-ratelimit-remaining:
      - '4'
      x-ratelimit-reset:
      - '1'
    body:
      encoding: UTF-8
      string: '{"slug":"top250","category":"Фильмы","cover":{"url":"https://avatars.mds.yandex.net/get-bunker/56833/3ee361778f24483f04a6819bc6d84bcfba9030e4/orig","previewUrl":"https://avatars.mds.yandex.net/get-bunker/56833/3ee361778f24483f04a6819bc6d84bcfba9030e4/x1000"},"createdAt":"2025-04-01T10:15:46.707Z","moviesCount":250,"name":"250
        лучших фильмов","updatedAt":"2025-04-01T10:15:47.169Z"}'
  recorded_at: Sun, 06 Apr 2025 20:15:16 GMT
recorded_with: VCR 6.3.1
