---
http_interactions:
- request:
    method: get
    uri: https://api.kinopoisk.dev/v1.4/movie
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-KEY:
      - "<X_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      x-ratelimit-limit:
      - '5'
      x-ratelimit-remaining:
      - '4'
      x-ratelimit-reset:
      - '1'
    body:
      encoding: UTF-8
      string: '{"docs":[{"id":6612727,"name":null,"alternativeName":"Queen: Who Wants
        to Live Forever","enName":null,"type":"movie","typeNumber":1,"year":1986,"description":null,"shortDescription":null,"status":null,"rating":{"kp":0,"imdb":7.7,"filmCritics":0,"russianFilmCritics":0,"await":0},"votes":{"kp":8,"imdb":192,"filmCritics":0,"russianFilmCritics":0,"await":0},"movieLength":4,"totalSeriesLength":null,"seriesLength":null,"ratingMpaa":null,"ageRating":null,"genres":[{"name":"короткометражка"},{"name":"музыка"}],"countries":[{"name":"Великобритания"}],"top10":null,"top250":null,"isSeries":false,"ticketsOnSale":false},{"id":7539785,"name":"Полюби
        меня снова","alternativeName":null,"type":"tv-series","typeNumber":2,"year":null,"description":"В
        жизни Люды Куприяновой есть всё, о чем можно мечтать: любимый муж Павел, успешный
        бизнес и надёжные друзья — Влад Кожухов с супругой Оксаной. После трагической
        потери ребёнка супруги решают усыновить мальчика Федю. Когда мальчику исполняется
        семь лет, женщина узнаёт, что беременна вновь — она ждёт девочку. С появлением
        дочери отношения между супругами портятся. Мать Павла Раиса откровенно недолюбливает
        приёмного мальчика. Случайная ссора кардинально меняет жизнь Куприяновых:
        Федя пропадает, а сами супруги оказываются в центре криминальной истории.
        Дело ведет следователь Алексей, которому нужно помочь Люде найти сына и снова
        поверить в любовь.","shortDescription":null,"status":null,"rating":{"kp":0,"imdb":0,"filmCritics":0,"russianFilmCritics":0,"await":0},"votes":{"kp":0,"imdb":0,"filmCritics":0,"russianFilmCritics":0,"await":0},"movieLength":null,"totalSeriesLength":null,"seriesLength":null,"ratingMpaa":null,"ageRating":null,"genres":[{"name":"мелодрама"}],"countries":[{"name":"Россия"}],"releaseYears":[{"start":null,"end":null}],"top10":null,"top250":null,"isSeries":true,"ticketsOnSale":false},{"id":7538142,"name":null,"alternativeName":"Pasahero","enName":null,"type":"movie","typeNumber":1,"year":2024,"description":null,"shortDescription":null,"status":null,"rating":{"kp":0,"imdb":5.8,"filmCritics":0,"russianFilmCritics":0,"await":0},"votes":{"kp":0,"imdb":22,"filmCritics":0,"russianFilmCritics":0,"await":0},"movieLength":120,"totalSeriesLength":null,"seriesLength":null,"ratingMpaa":null,"ageRating":null,"genres[...]
