---
http_interactions:
- request:
    method: get
    uri: https://api.kinopoisk.dev/v1.4/movie/random
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-KEY:
      - "<X_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      x-ratelimit-limit:
      - '5'
      x-ratelimit-remaining:
      - '4'
      x-ratelimit-reset:
      - '1'
    body:
      encoding: UTF-8
      string: '{"id":1206630,"type":"movie","externalId":{"imdb":"tt9080976","kpHD":null},"name":null,"rating":{"kp":0,"imdb":0,"filmCritics":0,"russianFilmCritics":0,"await":0},"description":null,"votes":{"kp":1,"imdb":0,"filmCritics":0,"russianFilmCritics":0,"await":0},"distributors":{"distributor":null,"distributorRelease":null},"premiere":{"world":"2018-10-06T00:00:00.000Z","bluray":null,"cinema":null,"digital":null,"dvd":null,"russia":null},"slogan":"When
        a blind woman with heightened senses pursues her dream of becoming a Master
        Sommelier, she discovers a family secret that could keep her from ever reaching
        her goal.","year":2018,"poster":{"url":null,"previewUrl":null},"facts":[],"genres":[{"name":"короткометражка"}],"countries":[{"name":"США"}],"seasonsInfo":[],"persons":[{"id":4451791,"photo":"https://image.openmoviedb.com/kinopoisk-st-images//actor_iphone/iphone360_4451791.jpg","name":"Николь
        Берри","enName":"Nicole Berry","description":"Brianna Aria","profession":"актеры","enProfession":"actor"},{"id":4613890,"photo":"https://image.openmoviedb.com/kinopoisk-st-images//actor_iphone/iphone360_4613890.jpg","name":null,"enName":"Elizabeth
        Anne Springett","description":"Master Sommelier Rose","profession":"актеры","enProfession":"actor"},{"id":5402655,"photo":"https://image.openmoviedb.com/kinopoisk-st-images//actor_iphone/iphone360_5402655.jpg","name":null,"enName":"Kristen
        Klemin","description":"Isabel Aria","profession":"актеры","enProfession":"actor"},{"id":54026[...]
