---
http_interactions:
- request:
    method: get
    uri: https://api.kinopoisk.dev/v1.4/image
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-KEY:
      - "<X_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      x-ratelimit-limit:
      - '5'
      x-ratelimit-remaining:
      - '4'
      x-ratelimit-reset:
      - '1'
    body:
      encoding: UTF-8
      string: '{"docs":[{"movieId":229817,"type":"cover","url":"https://image.openmoviedb.com/kinopoisk-images/4486362/5d09b715-6aa9-436b-9d80-18084fd429f4/orig","previewUrl":"https://image.openmoviedb.com/kinopoisk-images/4486362/5d09b715-6aa9-436b-9d80-18084fd429f4/360","height":750,"width":500,"createdAt":"2025-04-06T14:56:52.493Z","updatedAt":"2025-04-06T14:56:52.493Z","id":"67f296348a14296227ec76a4"},{"movieId":699196,"type":"cover","url":"https://image.openmoviedb.com/kinopoisk-images/4486362/68037017-ad8c-49f9-86cd-923a844a8aed/orig","previewUrl":"https://image.openmoviedb.com/kinopoisk-images/4486362/68037017-ad8c-49f9-86cd-923a844a8aed/360","height":1000,"width":684,"createdAt":"2025-04-06T14:50:26.723Z","updatedAt":"2025-04-06T14:50:26.723Z","id":"67f294b28a14296227ec5c35"},{"movieId":447460,"type":"screenshot","url":"https://image.openmoviedb.com/kinopoisk-i[...]
