---
http_interactions:
- request:
    method: get
    uri: https://api.kinopoisk.dev/v1.4/person
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-KEY:
      - "<X_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      x-ratelimit-limit:
      - '5'
      x-ratelimit-remaining:
      - '4'
      x-ratelimit-reset:
      - '1'
    body:
      encoding: UTF-8
      string: '{"docs":[{"id":10301614,"name":null,"enName":"Leighton Hudson","photo":null,"sex":"Мужской","age":null},{"id":10302874,"name":null,"enName":"Meg
        Levison","photo":null,"sex":"Женский","age":null},{"id":10328053,"name":null,"enName":"Sunil
        Pandey","photo":null,"sex":"Мужской","age":null},{"id":10315904,"name":null,"enName":"River
        Rodriguez","photo":null,"sex":"Мужской","age":null},{"id":10313518,"name":null,"enName":"Martin
        Kelly","photo":null,"sex":"Мужской","age":null},{"id":10313517,"name":null,"enName":"Sassy","photo":null,"sex":"Мужской","age":null},{"id":10313516,"name":null,"enName":"Snowball","photo":null,"sex":"Мужской","age":null},{"id":10317701,"name":null,"enName":"Stephen
        Rader","photo":null,"sex":"Мужской","age":null},{"id":10317700,"name":null,"enName":"Sanford
        E. Gaylord","photo":null,"sex":"Мужской","age":null},{"id":10327624,"name":null,"enName":"Keith
        Knight","photo":null,"sex":"Мужской","age":null}],"total":5915832,"limit":10,"page":1,"pages":591584}'
  recorded_at: Sun, 06 Apr 2025 19:55:50 GMT
recorded_with: VCR 6.3.1
