---
http_interactions:
- request:
    method: get
    uri: https://api.kinopoisk.dev/v1.4/movie/search
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-KEY:
      - "<X_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      x-ratelimit-limit:
      - '5'
      x-ratelimit-remaining:
      - '4'
      x-ratelimit-reset:
      - '1'
    body:
      encoding: UTF-8
      string: '{"docs":[{"id":535341,"name":"1+1","alternativeName":"Intouchables","enName":"","type":"movie","year":2011,"description":"Пострадав
        в результате несчастного случая, богатый аристократ Филипп нанимает в помощники
        человека, который менее всего подходит для этой работы, – молодого жителя
        предместья Дрисса, только что освободившегося из тюрьмы. Несмотря на то, что
        Филипп прикован к инвалидному креслу, Дриссу удается привнести в размеренную
        жизнь аристократа дух приключений.","shortDescription":"Аристократ на коляске
        нанимает в сиделки бывшего заключенного. Искрометная французская комедия с
        Омаром Си","movieLength":112,"isSeries":false,"ticketsOnSale":false,"totalSeriesLength":null,"seriesLength":null,"ratingMpaa":"r","ageRating":18,"top10":null,"top250":1,"typeNumber":1,"status":null,"names":[{"name":"无法触碰","language":"CN","type":null},{"name":"Untouchable","language":"GB","type":null},{"name":"最佳拍档","language":"CN","type":null},{"name":"不可触碰","language":"CN","type":null},{"name":"不可触摸","language":"CN","type":null},{"name":"Неприкасаемые","language":"RU","type":"Literal"},{"name":"1+1
        [Intouchables]","language":"RU","type":null},{"name":"Amigos","language":"CL","type":null},{"name":"Mehubarim
        la''hayim","language":"IL","type":"Hebrew title"},{"name":"Saikyô no futari","language":"JP","type":null},{"name":"Prijatelja","language":"SI","type":null},{"name":"Amigos
        para siempre","language":"VE","type":null},{"name":"En oväntad vänskap","language":"SE","type":null},{"name":"Intocáveis","language":"BR","type":null},{"name":"Intouchables
        – Ziemlich beste Freunde","language":"DE","type":null},{"name":"언터처블 1%의 우정","language":"KR","type":null},{"name":"De
        Uroerlige","language":"DK","type":null},{"name":"Intouchables","language":"US","type":null},{"name":"Intocable","language":"ES","type":null},{"name":"Недоторканні","language":"UA","type":"Unofficial
        Title"}],"externalId":{"kpHD":"4127663ed234fa8584aeb969ceb02cd8","imdb":"tt1675434","tmdb":77338},"logo":{"url":"https://image.openmoviedb.com/tmdb-images/original/hvptcK6WmDqu4xZZ0WuBQ3vYInE.png","previewUrl":"https://image.openmoviedb.com/tmdb-images/w500/hvptcK6WmDqu4xZZ0WuBQ3vYInE.png"},"poster":{"url":"https://image.openmoviedb.com/kinopoisk-images/10900341/caf9f155-1a19-42f1-a0f3-9c8773e9083e/orig","previewUrl":"https://image.openmoviedb.com/kinopoisk-images/10900341/caf9f155-1a19-42f1-a0f3-9c8773e9083e/x1000"},"backdrop":{"url":"https://image.openmoviedb.com/kinopoisk-ott-images/2385704/2a00000195040905dea964ff4bcf3e9c3df7/orig","previewUrl":"https://image.openmoviedb.com/kinopoisk-ott-images/2385704/2a00000195040905dea964ff4bcf3e9c3df7/x1000"},"rating":{"kp":8.846,"imdb":8.5,"filmCritics":6.8,"russianFilmCritics":100,"await":null},"votes":{"kp":2431363,"imdb":966636,"filmCritics":128,"russianFilmCritics":12,"await":0},"genres":[{"name":"драма"},{"name":"комедия"}],"countries":[{"name":"Франция"}],"releaseYears":[]},{"id":1143242,"name":"Джентльмены","alternativeName":"The
        Gentlemen","enName":"","type":"movie","year":2019,"description":"Один ушлый
        американец ещё со студенческих лет приторговывал наркотиками, а теперь придумал
        схему нелегального обогащения с использованием поместий обедневшей английской
        аристократии и очень неплохо на этом разбогател. Другой пронырливый журналист
        приходит к Рэю, правой руке американца, и предлагает тому купить киносценарий,
       [...]
